
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin</h1>

<a href="#" class="btn btn-soft btn-primary">Postal Code Tax Calculation Types</a>
<a href="#" class="btn btn-soft btn-primary">Progressive Tax Rates</a>