
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin</h1>

<a asp-action="PostalCodeTaxCalculationTypes" asp-controller="Admin" class="btn btn-soft btn-primary">Postal Code Tax Calculation Types</a>
<a asp-action="ProgressiveTaxRates" asp-controller="Admin" class="btn btn-soft btn-primary">Progressive Tax Rates</a>